@font-face {
	font-family: "NanumGothic-Bold";
	src: url("/font/Nanum_Gothic/NanumGothic-Bold.ttf");
}

@font-face {
	font-family: "NanumGothic-ExtraBold";
	src: url("/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf");
}

@font-face {
	font-family: "NanumGothic-Regular";
	src: url("/font/Nanum_Gothic/NanumGothic-Regular.ttf");
}

body {
	overflow-x: hidden;
	margin: 0;
}

h1, h2, h3, label {
	font-family: NanumGothic-Bold;
}

p, a, input {
	font-family: "NanumGothic-Regular";
}

.header {
	position: sticky;
	width: 100%;
	height: 10%;
	top: 0;
	z-index: 10;
}

.nav {
	padding: 1%;
	background: rgba(0, 0, 0, 1);
}

.nav li {
	list-style: none;
	cursor: pointer;
	display: inline-block;
	margin-right: 3%;
}

.nav li:nth-child(1) {
	margin-left: 2%;
}

.nav a {
	text-decoration: none;
	text-decoration: none;
	color: gray;
	font-weight: 1000;
}

.nav a:hover {
	color: white;
}

#login, #join {
	float: right;
}

@media ( max-width :700px) {
	.header {
		background: black;
		z-index:100;
	}
	.nav {
		display: none;
		padding: 0;
		width: 100%;
		height: 100vh;
		position: fixed;
		opacity: .9;
	}
	.nav ul {
		height: 100vh;
		width: 80%;
		padding: 20% 10%;
	}
	.nav li:nth-child(1) {
		margin: 5% 0;
	}
	.nav li {
		font-size: 20px;
		width: 100%;
		text-align: center;
		margin: 5% 0;
	}
	#nav-toggle {
		cursor: pointer;
		width: 40px;
		z-index: 100;
		display: inline-block;
		position: absolute;
		margin-left: 85%;
		margin-top: 2vh;
	}
	#nav-toggle .one, #nav-toggle .two {
		margin-bottom: 5px;
	}
	#nav-toggle div {
		background: white;
		border-radius: 25px;
		box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.8);
		height: 9px;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(.13, .24, .35, 1.64);
	}
	.nav-active .one {
		transform: rotate(-45deg) translate(-9px, 10px);
		transition: 2s;
	}
	.nav-active .two {
		opacity: 0;
	}
	.nav-active .three {
		transform: rotate(45deg) translate(-9px, -11px);
		transition: 2s;
	}
	#login{
	margin-top:10%;
	}
}