
#layer1 {
	background: white;
	height: 100vh;
}

.content-wrap {
	margin-top: 5%;
	width: 99999px;
	transition: .3s;
}

.content-section {
	width: 40vw;
	height: 80%;
	margin-left: 10vw;
	margin-right: 10vw;
	background: white;
	display: inline-block;
	color: black;
	border-radius: 3%;
	box-shadow: 1px 3px 5px grey;
}

.slide-btn-wrap {
	width: 100%;
	position: absolute;
	z-index: 10;
	margin-top: 18%;
}

.slide-btn {
	padding: 1%;
	font-size: 70px;
	font-weight: 1000;
	background: transparent;
	color: #3e3939;
	border: none;
	border-radius: 15%;
	cursor: pointer;
}

#slide-left-btn {
	margin-left: 15%;
}

#slide-right-btn {
	margin-left: 60%
}

.content-header {
	height: 10%;
	background: grey;
	color: white;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	padding: 0 5%;
}

.content-header p {
	margin: 0;
	padding-top: 2%;
}