body {
    background: whitesmoke;
}

#layer1 {
    overflow: hidden;
    height: 120vh;
}

.content-wrap {
    margin-top: 2%;
    width: 99999px;
    height: 90vh;
    transition: 0.3s;
    z-index:100;
}

.content-section {
    width: 40vw;
    min-height: 80%;
    margin-left: 10vw;
    margin-right: 10vw;
    background: white;
    display: inline-block;
    color: black;
    border-radius: 3%;
    box-shadow: 1px 3px 5px grey;
}

.slide-btn-wrap {
    width: 100%;
    position: absolute;
    margin-top: 18%;
}

.slide-btn {
    padding: 1%;
    font-size: 70px;
    font-weight: 1000;
    background: transparent;
    color: black;
    border: none;
    outline: none;
    border-radius: 15%;
    cursor: pointer;
    z-index: 101;
    position: absolute;
}

#slide-left-btn {
    margin-left: 15%;
}

#slide-right-btn {
    margin-left: 80%;
}

.content-header {
    height: 10%;
    background: grey;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 5%;
}

.content-header p {
    margin: 0;
    padding-top: 2%;
}

.content-body div {
    height: 50%;
    width: 90%;
    padding: 0 5%;
}

#siteinfo-modal{
	display:none;
	    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}
.siteInfo {
    background: white;
    box-shadow: 1px 1px 3px grey;
    width: 55%;
    border-radius: 5px;
    min-height: 70%;
    position: relative;
    margin-left: 20%;
    margin-top: 3%;
    padding: 2% 5%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.siteInfo button {
    margin-left: 52%;
    padding: 1% 2%;
    font-weight: 1000;
    position: fixed;
    border: none;
    background:transparent;
    font-size: 30px;
    outline: none;
    cursor: pointer;
}
#plan-stat{
	display: inline-block;
}
.stat-complate{
	color:blue;
}
.stat-yet{
	color:red;
}
.current-month {
    position: fixed;
    background: black;
    opacity: 0.8;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 75%;
    margin-top: 65vh;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 2px;
}
.siteName{
    font-size: 20px;
    display:inline-block;
}
.current {
    margin: 0;
    background: rgb(33, 112, 147);
    color: white;
    text-align: center;
    transform: rotateX(90deg);
    position: fixed;
    width: 100%;
}

.current-year h1 {
    text-align: center;
}
.yet-site {
    margin-right: 3%;
    display: inline-block;
}

/* checkbox */

input[type='checkbox'] {
    position: relative;
    width: 60px;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
input:checked[type='checkbox'] {
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}
input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.3s;
}
input:checked[type='checkbox']:before {
    left: 20px;
}
input[type='checkbox']:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    top: calc(50% - 2px);
    left: 35px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: 0.3s;
}
input:checked[type='checkbox']:after {
    background: #63cdff;
    left: 55px;
    box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

/* maps */
#container{
    overflow: hidden;
    height: 60%;
    position: absolute;
    width: 80%;
    z-index: 1;
    margin-bottom:3%;
    box-shadow: 1px 1px 5px grey;
}
#btnRoadview, #btnMap {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 7px 12px;
	font-size: 14px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	z-index: 1;
	cursor: pointer;
}

#btnRoadview:hover, #btnMap:hover {
	background-color: #fcfcfc;
	border: 1px solid #c1c1c1;
}

#container.view_map #mapWrapper {
	z-index: 10;
}

#container.view_map #btnMap {
	display: none;
}

#container.view_roadview #mapWrapper {
	z-index: 0;
}

#container.view_roadview #btnRoadview {
	display: none;
}
@media (max-width: 700px) {
    .content-section {
        width: 90vw;
        margin-right: 5vw;
        height: 90%;
    }
    .slide-btn-wrap {
        position: fixed;
        opacity: 0.8;
    }
    .slide-btn-wrap button{
           margin-top: 30%;
           font-size:35px;
    }
    #slide-left-btn {
        margin-left: 5%;
 
    }
    #slide-right-btn {
        margin-left: 90%;
    }
    #layer1 {
    overflow-x: hidden;
    overflow-y: auto;
        height: 90vh;
    }
    
    	.map-wrap{
	width: 92%;
    margin-left: 2%;
	}
	#container{
	    height: 50%;
	}
	#btnMap{
	top: 30px;
	}
	.siteInfo{
	width: 80%;
    margin-left: 5%;}
    #siteinfo-close-btn{
    margin-left:72%}
    #container{
    width:90%;
    }
}
