<html>

<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script>
        let contentCnt = 12;
        let currentMonth=3;
        let margin=0;
        $(document).ready(() => {
            if(currentMonth!=1){           
                $('.content-wrap').css('margin-left', -100*(currentMonth-1) + 'vw');
            }

            for (let i = 0; i < contentCnt; i++) {
                $('.content-wrap').append('<section class="content-section" id="section' + i + '">'
                    + '<div class="content">'
                    + '<div class="content-header"><p>' + (i + 1) + '월</p></div>'
                    + '<div class="content-body"> 내용 </div> </sesction>');
            }
            $(document).on('click', '#slide-left-btn', () => {
                console.log(currentMonth);     
                if(currentMonth>1){
                    currentMonth--;
                }else{
                    currentMonth=12;       
                }
                $('.content-wrap').css('margin-left', -100*(currentMonth-1) + 'vw');                  
            });
            $(document).on('click', '#slide-right-btn', () => {
                console.log(currentMonth);     
                if(currentMonth<12){
                    currentMonth++;
                }else{
                    currentMonth=1;
                }
                $('.content-wrap').css('margin-left', -100*(currentMonth-1) + 'vw');                  
            });
            $('#minus-btn').click(()=>{
                $('.content-section').css('width','35vw');
            });
        });
    </script>
</head>

<body>
    <button id="minus-btn">-</button>
    <button id="plus-btn">+</button>
    <div class="slide-btn-wrap">
        <button class="slide-btn" id="slide-left-btn"><</button> 
            <button class="slide-btn" id="slide-right-btn">> </button>
    </div>
    <div class="content-wrap" margin="33">

    </div>
</body>

</html>